<div id="<%= dom_id train %>">
   <p>
    <strong>Train name:</strong>
    <%= train.train_name %>
  </p>

  <p>
    <strong>Train capacity:</strong>
    <%= train.train_capacity %>
  </p>
  <p>
    <strong>Added By user id:</strong>
    <%= train.added_by_u_id %>
  </p>

</div>
