<div id="<%= dom_id train %>">
  <p>
    <strong>Train:</strong>
    <%= train.train_id %>
  </p>

  <p>
    <strong>Train name:</strong>
    <%= train.train_name %>
  </p>

  <p>
    <strong>Train capacity:</strong>
    <%= train.train_capacity %>
  </p>

</div>
