<div id="<%= dom_id schedule %>">

  <p>
    <strong>Starting time:</strong>
    <%= schedule.starting_time %>
  </p>

  <p>
    <strong>Reaching time:</strong>
    <%= schedule.reaching_time %>
  </p>

  <p>
    <strong>Tour fare:</strong>
    <%= schedule.tour_fare %>
  </p>

</div>
