<h1>Schedules</h1>

<div id="schedules">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this schedule", schedule %>
    </p>
    <p>
      <%= link_to "book ticket", new_ticket_path(:data => schedule.id) %>
    </p>
  <% end %>
</div>

<% if current_user.admin?%>
  <%= link_to "New schedule", new_schedule_path %>
<% end %>