<h1>New ticket</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>
<%= link_to 'Back to Schedules', schedules_path, class:"btn btn-primary mb-2 mt-2" %>
  <%= link_to "Back to tickets", tickets_path %>
</div>
