<h1>New place</h1>

<%= render "form", place: @place %>

<br>

<div>
  <%= link_to "Back to places", places_path %>
  <%= link_to 'Back to Schedules', schedules_path, class:"btn btn-primary mb-2 mt-2" %>
</div>
